body {

    background-color: rgb(255, 255, 255);
    font-family: Candara, Helvetica, sans-serif;    
    margin: 0;
    background-color: #000000;
    position:absolute;
    width:100%;
    height:100%;
    margin-bottom:20px

}

*{

    width: auto;

}

#header {

    width: 100%;
    height: 137px;
    padding-top: 10px;

}

#logo {

    width: 340px;
    height: 110px;
    position: center;
    left: 60%;
    margin-left: 10px;
    float: inline-start;

}


#logoImg {

    width: 30%;
    float: left;
    border-radius: 50%;

}

h1#tituloLogo{

    width: 550px;
    margin-top: 11px;
    border-radius: 10%;

}

h1#tituloLogo{
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 300%;
      width: 550px;
    }
  
    to {
      margin-top: 11px;
      width: 550px;
    }
}

#tituloLogo {
    
    position: relative;
    color: #ffffff;
    margin-left: 35%;
    font-size: 50px;

}

#menu{

    width: 100;
    
}

.listaMenu {
    
    float: right;
    width: 180px;
    font-size: 20px;
    left: 72%;
    margin-left: auto;
    margin-right: -1%;
    line-height: 90px;

}


.listaMenu li {

    display: inline-block;

}

#cont .listaMenu{

    right: 20%;
    position: right;
    display: inline-block;

}

.listaMenu li a {

    text-decoration: none;
    height: 50px;
    line-height: 30px;
    padding-right: 15px;

}

.listaMenu li a:link,
.listaMenu li a:visited {

    color: white;

}

.listaMenu li a:hover {

    color: #4b4b4b;
    background-color: white;

}

#menuAtual:link,
#menuAtual:visited {

    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}

#content {
    width: 60%;
    position: absolute;
}

#promotionBanner {
    
    width: 750px;
    height: 200px;
    background-image: url(download\ \(7\).jpg);
}

#promocaoH1 {

    color: rgb(255, 255, 255);
    font-size: 64px;
    margin: 0;
    margin-left: 10px;
    position: absolute;
    float: left;
    text-shadow: 2px 2px 4px #4b4b4b;

}

#areaProdutos td img,
#areaProdutos td {

    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;

}

#areaProdutos td img:hover {

    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);

}

#promocaoValor {

    color: rgb(247, 247, 247);
    font-size: 48px;
    margin: 0;
    position: absolute;
    text-shadow: 2px 2px 4px #ff6601;
    margin-left: 260px;
    top: 130px;
    width: 500px;

}

#tituloConteudo {

    color: #000000;
    text-align: center;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;

}

#areaProdutos table {

    border-spacing: 5px;
    border-collapse: separate;
    text-align: center;

}

#areaProdutos td {    

    width: 350px;
    color: #000000;
    font-size: 20px;
    text-align: left;

}

#areaProdutos td img {

    width: 200px;
    height: 200px;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid #000000;
    padding-left: 0%;

}

div#maisVendidos{

    margin-left: 16%;
    float: left;

}

.tituloProduto {
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    font-style: italic;
    

}

.precoProduto {
    color:orangered;
    margin: 0;
    font-style: italic;
    background-color: #000000;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#entrega {

    position: fixed;
    bottom: 30px;
    right: 10px;
    height: 100px;
    width: 300px;
    

}

#entrega img {
    
    height: 110px;
    right: 3%; 
    background-color: orangered;
    border-radius: 90%;
    
}

#tel {

    position: absolute;
    left: 100px;
    height: 80px;
    background-color: orangered;
    color: white;
    margin-top: 9px;
    padding: 21px;
    padding-bottom: 0px;
    border-radius: 35px;
    border: #ffffff 5px;

}

#tel h4 {

    margin: 0;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}

#tel h5 {

    margin: 0;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;

}

#tel a {

    color: white;
    text-decoration: none;

}

#ImgEntrega {

    max-width: 100px;
    max-height: 100px;

}
#fundo {
    height: 20px;
    width: 100%;
    background-color: orangered;
    position: center;
    
    ;
}
#f1,#f2,#f3 {
    text-align: center;
    border-radius: 20px;

}
#letra{
    position: relative;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    
}
#wh {
    background-color: orangered;
    border-radius: 90%;
}
#olg {
   text-align: center;
}
#ka{
    text-align: center;
    background-image: url(vecteezy_chamas-de-fogo-em-fundo-preto_6893495.jpg);
    background-size: cover;
}
#bobo{
    background-color: black;
    
}
#fundo2 {
    height: 20px;
    width: 750px;
    background-color: orangered ;
    
}
td {
    height: 100px;
    width: 600px;
    background-color: #000000 ;
    border-radius: 20px;
    
}
.balloon {
    display: none;
    position: sticky;
    background-color:orangered;
    color: white;
    padding: 5px;
    border-radius: 5px 5px 5px 5px ;
    width: 200px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    transition: opacity 0.3s ease-in-out;
}
img {
    position: relative;
    box-shadow: 0 0 20px orangered;
}

.download-btn {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.download-btn:hover {
    background-color: red;
}

#divi {
    text-align: center;
}

#divi img{
    width: 80%;
}
#espaco{
   height:500px;
   windth:500px
   background-color: red;
}

